html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  #sketch-container{
    width: 100%;
    height: 100%;
  }
  #sketch-container.p {
  position: fixed;
  text-align: center;
  top: 40px;
  left: 100px;
  z-index: 100;
  width: 270px;
  padding: 10px;
  }

  .part2 { 
    text-align: center;
  }